{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des livres</h1>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }}
            </li>

        {% endfor %}
    </ul>
{% endblock %}